<section id="form-devise-confirmation" class="devise-form">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>ارسال لینک فعال سازی</h2>
					</div>
					<div class="panel-body">
						<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
						<%= devise_error_messages! %>

							<div class="form-group">
								<%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "ایمیل", class: "form-control", required: true %>
							</div>

							<div class="actions form-group">
								<%= f.button "ارسال دوباره دستورالعمل فعال سازی", class: "btn btn-block btn-success", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> ارسال دوباره دستورالعمل فعال سازی" } %>
							</div>
						<% end %>
					</div>
					<div class="panel-footer">
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

