<section id="form-devise-signup" class="devise-form">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2> حساب کاربری :<br><%= current_user.username %> </h2>
					</div>
					<div class="panel-body">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
							<%= devise_error_messages! %>

							<div class="form-group">
								<%= f.email_field :email, autofocus: true, placeholder: 'ایمیل', class: "form-control" %>
							</div>

							<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
								<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
							<% end %>

							<div class="form-group">
								<%= f.password_field :password, autocomplete: "off", placeholder: 'رمز عبور جدید', class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'تکرار رمز عبور جدید', class: "form-control" %>
							</div>

							<div class="form-group">
								<i>(رمز عبور فعلی  شما برای تایید رمز عبور جدید لازم است.)</i>
								<%= f.password_field :current_password, autocomplete: "off", placeholder: "رمز عبور فعلی", class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.button "به روز رسانی", class: "btn btn-block btn-success", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> به روز رسانی" } %>
							</div>
						<% end %>

						<h3>حذف اکانت شما</h3>

						<p>خوشحال نیستید؟ <%= button_to "حذف اکانت", registration_path(resource_name), data: { confirm: "آیا اطمینان دارید؟" }, method: :delete, class: "btn btn-danger" %></p>
					</div>

					<div class="panel-footer">
						<%= link_to "برگشت", :back %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



