<section id="form-devise-signup" class="devise-form">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>ثبت نام</h2>
					</div>
					<div class="panel-body">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
							<%= devise_error_messages! %>
							
							<% unless resource_name == :admin %>
								<div class="form-group">
									<%= f.text_field :username, autofocus: true, placeholder: "نام و نام خانوادگی" , required: true, class: "form-control" %>
								</div>
							<% end %>
							
							<div class="form-group">
								<%= f.email_field :email, autofocus: true, placeholder: "ایمیل" , required: true, class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.password_field :password, autocomplete: "off", placeholder: "رمز عبور", required: true, class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.password_field :password_confirmation, placeholder: "تکرار رمز عبور", required: true, autocomplete: "off", class: "form-control" %>
							</div>

							<div class="actions form-group">
								<%= f.button "ساخت حساب کاربری", class: "btn btn-block btn-success", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> ساخت حساب کاربری" } %>
							</div>
						<% end %>
					</div>
					<div class="panel-footer">
						<% unless resource_name == :admin %>
							<%= render "devise/shared/links" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
