<nav class="navbar navbar-custom navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag 'logo.svg', size:'40x40' %><%= link_to "شتابیاد <span style='font-size:18px;'><em>بتا</em></span>".html_safe, root_path, class: "navbar-brand img-responsive" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if user_signed_in? %>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><i class="fa fa-user-circle-o"></i>  <%= current_user.username %> </a>
						<ul class="dropdown-menu">
							<li><%= link_to "<i class='fa fa-user'></i> حساب کاربری".html_safe, edit_user_registration_path %></li>
							<li role="separator" class="divider"></li>
							<li><%= link_to "<i class='fa fa-sign-out'></i> خروج".html_safe, destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				</ul>
			<% end %>
        
      <ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'درباره ما', about_us_path %></li>
        <li><%= link_to 'تماس با ما', contacts_path %></li>
				<li><%= link_to 'دوره ها', courses_path %></li>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>