<% title @tutorial.title %>
<section id="lessons-index">
	
	<div class="ui grid container">
		<!-- <div class="row"> -->
			
			<div class="fourteen wide column row">
				<h1 class="ui header"><%= @tutorial.title %></h1>
				<h4 class="ui horizontal divider header"><i class="angle down icon"></i></h4>
			</div>
			
			<div class="fourteen wide column row">
				<%= @tutorial.description %>
			</div>
			
			<% if user_signed_in? %>
				<div class="eight wide column">
					<div class="ui relaxed list">
						<% @tutorial.sections.each do |section| %>
							<div class="item">
								<div class="ui styled accordion">
								  <div class="title">
								    <i class="dropdown icon"></i>
								    <%= section.title %>
								  </div>
								  <div class="content">
										<% section.lessons.each do |lesson| %>
								    	<%= link_to lesson.title, lesson %>
										<% end %>
								  </div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
			
		<!-- </div> -->
	</div>
	<div class="ui grid container">
		<div class="sixteen wide column">
			<%= commontator_thread(@tutorial) %>
		</div>
	</div>
</section>

<!--*******************************************************-->

	