<% title @tutorial.title %>
<section id="lessons-index">
	<div class="lessons-index-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<h1 class="text-center"><%= @tutorial.title %></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<% if @tutorial.lessons.count == 1 %>
				<div class="col-md-4 col-xs-12 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<% if find_first.thumbnail_image? %>
								<%= image_tag find_first.thumbnail_image.url(:thumbnail), class: "img-responsive" %>
							<% end %>
							<h3><%= link_to find_first.title, find_first %></h3>
						</div>
						<div class="panel-body">
							<%= markdown(sanitize(find_first.description[0, 200] + '...')).html_safe %>
						</div>
						<div class="panel-footer">
							<i class="fa fa-heart fa-lg fa-like"></i><span class="like-number"><%= find_first.get_upvotes.size %> لایک</span>
							<i class="fa fa-comments fa-lg fa-comment"></i><span class="comment-number"><%= find_first.thread.comments.count %> نظر</span>
						</div>
					</div>
				</div>
			<% elsif @tutorial.lessons.count > 1 %>
				<% @tutorial.lessons.each do |tut_lesson| %>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<% if tut_lesson.thumbnail_image? %>
									<%= image_tag tut_lesson.thumbnail_image.url(:thumbnail), class: "img-responsive" %>
								<% end %>
								<h3><%= link_to tut_lesson.title, tut_lesson %></h3>
							</div>
							<div class="panel-body">
								<%= markdown(sanitize(tut_lesson.description[0, 200] + '...')).html_safe %>
							</div>
							<div class="panel-footer">
								<i class="fa fa-heart fa-lg fa-like"></i><span class="like-number"><%= tut_lesson.get_upvotes.size %> لایک</span>
								<i class="fa fa-comments fa-lg fa-comment"></i><span class="comment-number"><%= tut_lesson.thread.comments.count %> نظر</span>
							</div>
						</div>
					</div>
				<% end %>
			<% else %>
				<h3>هنوز درسی برای این دسته ارائه نشده است.</h3>
			<% end %>
		</div>
	</div>		
</section>




<!--*******************************************************-->

