<%= provide(:description, 'آموزش Ruby on Rails و طراحی وب سایت') %>  
<%= provide(:keywords, 'Ruby on Rails, روبی آن ریلز, برنامه نویسی روبی, طراحی وب سایت, برنامه نویسی Ruby, Rails, ریلز, وب اپلیکیشن') %> 
<%= provide(:robots, 'index, follow') %>


<!-- <div class="jumbotron"> -->
<div id="particles-js">
	<h1 class="animated fadeIn">دوره های آموزشی آنلاین، تخصصی و رایگان</h1>
	<p class="animated fadeIn">هر مهارتی را که برای بازار کار نیاز دارید رایگان بیاموزید. 😊</p>
	<div class="welcome-signup animated fadeIn">
		<%= render partial: 'shared/signup' %>
	</div>
</div>

<section id="last-lessons">
	<% number = 12 %>
	<% models = last_models(number) %>
	<div class="container">
		<div class=row>
			<div class="col-md-12 col-xs-12 col-sm-12">
				<h2 align="center">آخرین آموزش ها</h2>
			</div>
		</div>
		<%# if models.nil? %>
			<!-- nothing -->
		<%# if %>
		<div class="row row-lesson">
			<% Tutorial.all.each do |tutorial| %>
				<div class="col-md-3 col-xs-6 col-sm-6 col-last" align="center">
					<div class="well">
						<%= link_to (image_tag tutorial.images, size: "100x100", class: "img-responsive"), tutorial %>
						<div class="content">
							<p class="text-center"><%= tutorial.title %></p>						
							<!-- <span class="text-right">دسته: <%#= tutorial.title %></span> -->
							<%# if !model.video.nil? || model.lesson_video? %>
								<!-- <div class="show-video">
									<i class="fa fa-play"> ویدئو</i>
								</div> -->
							<%# else %>
								<!-- <div class="show-video">
									<i class="fa fa-file-text"> مقاله</i>
								</div> -->
							<%# end %>
						</div>
					</div>
				</div>
				<% end %>
			<%# end %>
		</div>
	</div>
</section>

<script>
	function openLesson(skillName,elmnt,color,fontColor) {
		var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablink");
			for (i = 0; i < tablinks.length; i++) {
					tablinks[i].style.backgroundColor = "";
					tablinks[i].style.color = "#A2AAB0";
			}
			document.getElementById(skillName).style.display = "block";
			elmnt.style.backgroundColor = color;
			elmnt.style.color = fontColor;
	}
	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	
	var acc = document.getElementsByClassName("accordion");
		var i;
		for (i = 0; i < acc.length; i++) {
			acc[i].onclick = function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				}
			}
		}
	
	var slideIndex = 0;
	showSlides();
	
	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if(slideIndex > slides.length) {
			slideIndex = 1;
		}
		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 3000);
	}
</script>



















