<%= provide(:description, 'آموزش Ruby on Rails و طراحی وب سایت') %>  
<%= provide(:keywords, 'Ruby on Rails, روبی آن ریلز, برنامه نویسی روبی, طراحی وب سایت, برنامه نویسی Ruby, Rails, ریلز, وب اپلیکیشن') %> 
<%= provide(:robots, 'index, follow') %>


<!-- <div class="jumbotron"> -->
<div id="particles-js">
	<h1 class="animated fadeIn">دوره های آموزشی آنلاین، تخصصی و رایگان</h1>
	<p class="animated fadeIn">هر مهارتی را که برای بازار کار نیاز دارید رایگان بیاموزید. 😊</p>
	<div class="welcome-signup animated fadeIn">
		<%= render partial: 'shared/signup' %>
	</div>
</div>

<section id="last-lessons">
	<% number = 12 %>
	<% models = last_models(number) %>
	<div class="container">
		<div class=row>
			<div class="col-md-12 col-xs-12 col-sm-12">
				<h2 align="center">آخرین آموزش ها</h2>
			</div>
		</div>
		<%# if models.nil? %>
			<!-- nothing -->
		<%# if %>
		<div class="row row-lesson">
			<% Tutorial.all.each do |tutorial| %>
				<div class="col-md-3 col-xs-6 col-sm-6 col-last" align="center">
					<div class="well">
						<%= link_to (image_tag tutorial.images, size: "100x100", class: "img-responsive"), tutorial %>
						<div class="content">
							<p class="text-center"><%= tutorial.title %></p>
							<div class="ui icon button" data-content="<%= tutorial.description %>">
							  <i class="zoom icon"></i>
							</div>
							<%= rating_for tutorial, 'rate', half_show: true, disable_after_rate: true %>
							<!-- <div id="myPopover" class="btn btn-primary">Description</div>				 -->
							<!-- <span class="text-right">دسته: <%#= tutorial.title %></span> -->
							<%# if !model.video.nil? || model.lesson_video? %>
								<!-- <div class="show-video">
									<i class="fa fa-play"> ویدئو</i>
								</div> -->
							<%# else %>
								<!-- <div class="show-video">
									<i class="fa fa-file-text"> مقاله</i>
								</div> -->
							<%# end %>
						</div>
					</div>
				</div>
				<% end %>
			<%# end %>
		</div>
	</div>
</section>




















