<%= provide(:description, 'آموزش Ruby on Rails و طراحی وب سایت') %>  
<%= provide(:keywords, 'Ruby on Rails, روبی آن ریلز, برنامه نویسی روبی, طراحی وب سایت, برنامه نویسی Ruby, Rails, ریلز, وب اپلیکیشن') %> 
<%= provide(:robots, 'index, follow') %>


<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 col-sm-12">
				<!--- <h1 class="text-center">مدرسه شتابیاد</h1> -->
				<h2 class="text-center"> آموزش تخصصی برنامه نویسی </h2>
				<h1 class="text-center"><span>روبی آن ریلز</span></h1>
				<!-- <p class="text-center">ما به شما کمک می کنیم تا تکنولوژی های روز دنیا را بیاموزید، در کار خود پیشرفت کنید و استارت آپ خود را راه اندازی کنید.</p> -->
				<%#= link_to 'برای شروع ثبت نام کنید', new_user_registration_path, class: "btn btn-custom text-center" %>
			</div>
			<div class="col-md-12 col-hero-icons">
				<div class="col-md-4" align="center">
					<%= image_tag 'diamond.svg', size: '80x80', class: 'img-responsive animated fadeInLeft' %>
					<h4 class="animated fadeInLeft">آموزش روبی آن ریلز</h4>
				</div>
				<div class="col-md-4" align="center">
					<%= image_tag 'coding.svg', size: '70x70', class: 'img-responsive animated fadeInLeft' %>
					<h4 class="animated fadeInLeft">آموزش HTML - CSS - Javascript</h4>
				</div>
				<div class="col-md-4" align="center">
					<%= image_tag 'web-design.svg', size: '80x80', class: 'img-responsive animated fadeInLeft' %>
					<h4 class="animated fadeInLeft">آموزش طراحی وب</h4>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2" align="center">
				<%= link_to 'همین امروز و به صورت کاملا رایگان بیاموزید', new_user_registration_path, class: 'btn btn-success' %>
			</div>
			<div class="col-md-10 col-xs-12 col-sm-12 col-md-offset-1" align="center">
				<i class="fa fa-angle-down fa-3x"></i>
			</div>
			
			<div class="col-md-8 col-md-offset-2">
				<p class="text-center animated fadeInUp">برنامه ما این است تا طراحی وب سایت و تولید وب اپلیکیشن ها را به صورت تخصصی آموزش بدهیم. ما دوره های چند ساعته و طولانی ارائه نمی دهیم. آموزش های ما کوتاه، مفید و تخصصی می باشند. با آموزش های ما به نکات کلیدی طراحی و توسعه وب سایت ها آشنا می شوید و با به کار گیری مفاهیم اصلی مانند HTML - CSS و جاوا اسکریپت در کنار فریم ورک های سمت سرور مانند روبی آن ریلز قادر خواهید بود وب سایت های حرفه ای بسازید.</p>
			</div>
		</div>
	</div>
</div>
<!-- <div class="hero-socials">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-xs-12 col-sm-12 col-md-offset-1">
				<p class="text-center">ما به شما کمک می کنیم تا تکنولوژی های روز دنیا را بیاموزید، در کار خود پیشرفت کنید و استارت آپ خود را راه اندازی کنید.</p>
			</div>
		</div>
	</div>
</div> -->

<section id="first">
	<div class="container text-center">
		<h2>ویژگی های ما</h2>
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4">
				<span class="fa fa-compass fa-5x fa-ruby"></span>
				<h4>آموزش های دوره ای</h4>
				<p>با آموزش های دوره ای ما همراه باشید. هر هفته آموزش های جدید. ویدئوها و مقالات کاربردی و به روز.</p>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4 divider">
				<span class="fa fa-check-square-o fa-5x fa-ruby"></span>
				<h4>تکنولوژی محور</h4>
				<p>تکنولوژی ها و مباحث روز مربوط به توسعه وب سایت ها درخصوص Ruby on Rails را با ما دنبال کنید. </p>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4">
				<span class="fa fa-info fa-5x fa-ruby"></span>
				<h4>راهنما</h4>
				<p> لینک های مفید، سورس برنامه ها، جم های کاربردی و همه آنچه که نیاز است برای توسعه وب سایت ها   در اختیار شماست.</p>
			</div>
		</div>
	</div>
</section>

<section id="explore">
	<div class="container">
		<h2 class="text-center">چرا ما؟</h2>
		<h3 class="text-center">بهترین منبع برای شروع طراحی وب سایت با Ruby on Rails ما هستیم.</h3>
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4" align="center">
				<i class="fa fa-github fa-5x fa-ruby"></i>
				<p>آموزش گیت و گیت هاب، نشر و گسترش اپلیکیشن Rails</p>
			</div>
			
			<div class="col-md-4 col-xs-4 col-sm-4" align="center">
				<i class="fa fa-html5 fa-5x fa-ruby"></i>
				<p>آموزش HTML، CSS، Javascript و کتابخانه های آن </p>
			</div>
			
			<div class="col-md-4 col-xs-4 col-sm-4" align="center">
				<i class="fa fa-diamond fa-5x fa-ruby"></i>
				<p>آموزش زبان برنامه نویسی روبی از سطح مقدماتی تا پیشرفته</p>
			</div>
		</div>
	</div>
</section>

<section id="tools">
	<div class="container">
		<h2 class="text-center">قابلیت فریمورک ریلز</h2>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class="text-center">
					فریمورک ریلز با تکنولوژی ها و فریمورک های روز دنیا مانند Vue.js، React.js، Angular.js یکپارچه می شود. ما نکات کلیدی استفاده از آن ها با فریمورک ریلز را به شما آموزش می دهیم تا اپلیکیشن های حرفه تری توسعه دهید. 
				</p>
			</div>
		</div>
		<div class="row row-pics">
			<div class="col-md-4 col-sm-4 col-xs-4" align="center">
				<%= image_tag 'angular-logo.svg' %><p class="text-center">Angular.js</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4" align="center">
				<%= image_tag 'react.svg' %><p class="text-center">React.js</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4" align="center">
				<%= image_tag 'vuejs.svg' %><p class="text-center">Vue.js</p>
			</div>
		</div>
	</div>
</section>

<section id="last-lessons">
	<% number = 9 %>
	<% models = last_models(number) %>
	<div class="container">
		<div class=row>
			<div class="col-md-12 col-xs-12 col-sm-12">
				<h2 align="center">آخرین آموزش ها</h2>
			</div>
		</div>
		<% if models.nil? %>
			nothing
		<% else %>
		<div class="row row-lesson">
			<% models.each do |model| %>
				<div class="col-md-4 col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1 col-md-offset-0 col-last" align="center">
					<div class="well">
						<%= link_to (image_tag model.thumbnail_image, class: "img-responsive"), model %>
						<p class="text-center"><%= model.title %></p>						
						<span class="text-right">دسته: <%= model.tutorial.title %></span>
						<% if !model.video.nil? || model.lesson_video? %>
							<div class="show-video">
								<i class="fa fa-play fa-3x"></i><!-- <i class="fa fa-comment fa-2x"></i> -->
							</div>
						<% else %>
							<div class="show-video">
								<i class="fa fa-file-text fa-3x"></i><!-- <i class="fa fa-comment fa-2x"></i> -->
							</div>
						<% end %>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
</section>

<script>
	function openLesson(skillName,elmnt,color,fontColor) {
		var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablink");
			for (i = 0; i < tablinks.length; i++) {
					tablinks[i].style.backgroundColor = "";
					tablinks[i].style.color = "#A2AAB0";
			}
			document.getElementById(skillName).style.display = "block";
			elmnt.style.backgroundColor = color;
			elmnt.style.color = fontColor;
	}
	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	
	var acc = document.getElementsByClassName("accordion");
		var i;
		for (i = 0; i < acc.length; i++) {
			acc[i].onclick = function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				}
			}
		}
	
	var slideIndex = 0;
	showSlides();
	
	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if(slideIndex > slides.length) {
			slideIndex = 1;
		}
		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 3000);
	}
</script>



















