<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 pull-right">
				<h2> آموزش تخصصی برنامه نویسی</h2>
				<h1>روبی آن ریلز و آی او اس</h1>
				<p>آموزش توسعه وب اپلیکیشن ها، وب سایت ها و اپلیکیشن های موبایل</p>
			</div>
			<div class="col-md-6">
				<p>برای دیدن آموزش های ما:</p>
				<p><%= link_to 'ثبت نام کنید', new_user_registration_path, class: "btn btn-custom" %></p>
			</div>
		</div>
	</div>
</div>
<section id="first">
	<div class="container text-center">
		<h2>اولین وبسایت آموزش تخصصی روبی آن ریلز و آی او اس در ایران</h2>
		<div class="row">
			<div class="col-md-4">
				<span class="fa fa-play fa-4x"></span>
				<p>آموزش های دوره ای ما را دنبال کنید. هر هفته با آموزش های جدید. مقالات و ویدئوهای به روز. </p>
			</div>
			<div class="col-md-4 divider">
				<span class="fa fa-check-square-o fa-4x"></span>
				<p>همه آنچه شما نیاز دارید برای توسعه وب سایت ها و وب اپلیکیشن های مدرن، در وب سایت ما هست.</p>
			</div>
			<div class="col-md-4">
				<span class="fa fa-link fa-4x"></span>
				<p>لینک های مفید، سورس برنامه ها، جم های کاربردی و همه آنچه که نیاز است برای توسعه وب سایت ها در اختیار شماست.</p>
			</div>
		</div>
	</div>
</section>

<section id="about">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>
				ریلز یک فریمورک متن باز است که با زبان برنامه نویسی دینامیک و شی گرای روبی توسعه داده شده 
				و بر مبنای معماری MVC <span>(Model, View, Controller)</span>، می باشد.<br />
				<a href="https://www.twitter.com">توئیتر</a>، <a href="https://www.airbnb.com">ایر-بی-ان-بی</a> و خیلی از سایت های معروف دیگر با روبی-آن-ریلز توسعه یافت اند. 
		این تکنولوژی روز به روز در حال پیشرفت است و بسیاری از سایت ها با آن توسعه می یابند.
		توسعه راحت، سریع و مطابق با تکنولوژی های روز با روبی-آن-ریلز امکان پذیر است.
				</h3>
				<p><a class="more" href="https://prograils.com/posts/top-10-famous-sites-built-with-ruby-on-rails" target="_blank">اطلاعات بیشتر</a></p>
			</div>
		</div>
	</div>
</section>

<section id="last-lessons">
	<% number = 3 %>
	<% models = last_models(number) %>
	<div class="container">
		<h2 class="text-center">آخرین آموزش ها</h2>
		<div class="row">	
			<% if models.nil? %>
				nothing
			<% else %>
				<% models.each do |model| %>
					<div class="col-md-4 pull-right">
						<div class="well">
							<h3>دسته: <%= model.tutorial.title %></h3>
							<%= image_tag model.thumbnail_image, size: "360x200", class: "img-responsive" %>
							<%= link_to model.title, model, class: "model-title" %>
						</div>
					</div> 
				<% end %>
			<% end %>
		</div>
	</div>
</section>

<section id="subjects">
	<h3 class="text-center">مباحثی که ما آموزش می دهیم</h3>
	<div id="html" class="tabcontent">
		<div class="container">
				<div class="row">
					<div class="col-md-6 pull-right">
						<h3>اچ تی ام ال و سی اس اس</h3>
						<p>آموزش اچ تی ام ال و سی اس اس</p>
					</div>
					<div class="col-md-6">
						<%= image_tag 'html.svg', size: "100x100" %>
					</div>
				</div>
			</div>
		
	</div>

	<div id="javascript" class="tabcontent">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pull-right">
					<h3>جاوا اسکریپت</h3>
					<p>آموزش برنامه نویسی جاوا اسکریپت</p>
				</div>
				<div class="col-md-6">
					<%= image_tag 'javascript.svg', size: "100x100" %>
				</div>
			</div>
		</div>
	</div>

	<div id="swift" class="tabcontent">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pull-right">
					<h3>سوئیفت</h3>
					<p>زبان برنامه نویسی سوئیفت و قابلیت های آن، شرط ها، عبارات شرطس و شی گرایی و همچنین مباحث مهم دیگر در این زمینه</p> 
				</div>
				<div class="col-md-6">
					<%= image_tag 'swift.svg', size: "100x100" %>
				</div>
			</div>
		</div>
	</div>

	<div id="ios" class="tabcontent">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pull-right">
					<h3>آی او اس</h3>
					<p>آموزش برنامه نویسی iOS، کار با گوگل مپس، فایر بیس و فریمورک های دیگر...</p>
				</div>
				<div class="col-md-6">
					<%= image_tag 'ios.svg', size: "100x100" %>
				</div>
			</div>
		</div>
	</div>

	<div id="ruby-on-rails" class="tabcontent">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pull-right">
					<h3>روبی آن ریلز</h3>
					<p>Oslo is the capital of Norway.</p>
				</div>
				<div class="col-md-6">
					<%= image_tag 'rubyonrails.svg', size: "100x100" %>
				</div>
			</div>
		</div>
	</div>
	<button class="tablink" onclick="openCity('html', this, '#747F89')">اچ تی ام ال و سی اس اس</button>
	<button class="tablink" onclick="openCity('swift', this, '#3CD5C1')">سوئیفت</button>
	<button class="tablink" onclick="openCity('ios', this, '#F71735')">آی او اس</button>
	<button class="tablink" onclick="openCity('ruby-on-rails', this, '#011627')">روبی آن ریلز</button>
	<button class="tablink" onclick="openCity('javascript', this, '#FF9F1C')" id="defaultOpen">جاوا اسکریپت</button>
</section>



<script>
	function openCity(skillName,elmnt,color) {
			var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
						tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablink");
				for (i = 0; i < tablinks.length; i++) {
						tablinks[i].style.backgroundColor = "";
				}
				document.getElementById(skillName).style.display = "block";
				elmnt.style.backgroundColor = color;

		}
		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
</script>



















