<%= form_for(lesson) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
	<div class="field">
		<%= f.file_field :image, accept: 'image/jpg,image/png' %>
	</div>
	<div class="field">
		<%= f.file_field :thumbnail_image, accept: 'image/jpg,image/png' %>
	</div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
  	<%= f.text_field :aparat_id %>
  	<%= f.text_field :aparat_embed %>
  	<%= f.text_field :youtube_embed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
