<section id="lesson-show">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<% unless @lesson.video.nil? %>
							<div id="<%= @lesson.video.aparat_id %>"><script type="text/JavaScript" src="https://www.aparat.com/embed/<%= @lesson.video.aparat_embed %>?data[rnddiv]=<%= @lesson.video.aparat_id %>&data[responsive]=yes"></script></div>
						<% end %>
					</div>
				</div>
			</div>
			<% if @lesson.image? %>
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						<%= image_tag @lesson.image_url, class: "img-responsive" %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="container">
			<div class="row title">
				<div class="col-md-10 col-md-offset-1">
					<h4><em>دسته:</em> <%= @lesson.tutorial.title %></h4>
					<div class="col-md-6 pull-right">
						<h1><%= @lesson.title %></h1>
					</div>
					<div class="col-md-6">
							<%#= render 'lessons/likes', lessson: @lesson %>
							<%= link_to '', like_lesson_path(@lesson.id), remote: true, id: "like_#{@lesson.id}",
								class: "fa fa-heart fa-2x #{liked_lesson @lesson}" %>
							<span class="like-number"><%#= @lesson.get_upvotes.size %></span>
						<%# end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="panel-body">
						<p><%= markdown(@lesson.description) %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-0ffset-1">
						<% if @lesson.comments %>
							<% @lesson.comments.each do |comment| %>
								<div class="comment">
									<div class="user-name">
										<%= comment.user.user_name %>
									</div>
									<div class="comment-content">
										<%= comment.content %>
									</div>
									<% if comment.user == current_user %>
										<%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
											<span class="glyphicon glyphicon-remove delete-comment"></span>
										<% end %>
									<% end %>
								</div>
							<% end %>
						<% end %>
						<div class="comment-like-form row">
							<div class="like-button col-sm-1">
								<span class="glyphicon glyphicon-heart-empty"></span>
							</div>
							<div class="comment-form col-sm-11">
								<%= form_for([@lesson, @lesson.comments.new], remote: true) do |f| %>
									<%= f.text_area :content, placeholder: 'Add a comment...' %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
		