<section id="lesson-show">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="container">
				<% unless @lesson.video.nil? %>
					<div id="<%= @lesson.video.aparat_id %>"><script type="text/JavaScript" src="https://www.aparat.com/embed/<%= @lesson.video.aparat_embed %>?data[rnddiv]=<%= @lesson.video.aparat_id %>&data[responsive]=yes"></script></div>
				<% end %>
			</div>
			<% if @lesson.image? %>
				<%= image_tag @lesson.image_url, class: "img-responsive" %>
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						
					</div>
				</div>
			<% end %>
			<%= @lesson.title %>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<%= @lesson.description %>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-0ffset-1">
						<%= link_to like_lesson_path(@lesson), method: :put, class: "btn btn-default" do %>
						<span class="glyphicon glyphicon-thumbs-up"></span>
							<%= @lesson.get_upvotes.size %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
		




