<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<% if @lesson.image? %>
					<%= image_tag @lesson.image_url %>
				<% end %>
				<%= @lesson.title %>
			</div>
			<div class="panel-body">
				<%= @lesson.description %>
			</div>
			<div class="panel-footer">
				<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
				<%= link_to 'Back', lessons_path %>

				<%= link_to like_lesson_path(@lesson), method: :put, class: "btn btn-default" do %>
					<span class="glyphicon glyphicon-thumbs-up"></span>
					<%= @lesson.get_upvotes.size %>
				<% end %>
			</div>
		</div>
	</div>
</div>





