<% title @lesson.title %>
<section id="lesson-show">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-xs-12 col-sm-12 col-md-offset-1 col-xs-offset-0 col-sm-offset-0">
						<% if user_signed_in? && @lesson.lesson_video? %>
							<video class="afterglow" id="myvideo" width="945" height="576" data-autoresize="fit">
								<source type="video/mp4" src=<%= @lesson.lesson_video.url%> />
							</video>
						<% end %>
						
						<% unless @lesson.video.nil? %>
							<% if !user_signed_in? && @lesson.lesson_video? %>
								<div id="<%= @lesson.video.aparat_id %>"><script type="text/JavaScript" src="https://www.aparat.com/embed/<%= @lesson.video.aparat_embed %>?data[rnddiv]=<%= @lesson.video.aparat_id %>&data[responsive]=yes"></script></div>
								<div class="well">برای دیدن ویدئو اصلی لطفا ثبت نام کنید و یا به سایت وارد شوید: <%= link_to 'ثبت نام', new_user_registration_path, class: "btn btn-info" %> <%= link_to 'ورود به سایت', new_user_session_path, class: "btn btn-success" %> </div>
							<% elsif !user_signed_in? && !@lesson.lesson_video? %>
								<div id="<%= @lesson.video.aparat_id %>"><script type="text/JavaScript" src="https://www.aparat.com/embed/<%= @lesson.video.aparat_embed %>?data[rnddiv]=<%= @lesson.video.aparat_id %>&data[responsive]=yes"></script></div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<% if @lesson.video.nil? && !@lesson.lesson_video? %>
				<div class="lesson-hero">
					<%= image_tag @lesson.image_url, class: "img-responsive" if @lesson.image? %>
					<h1 class="text-center"><%= @lesson.title %></h1>
				</div>
			<% end %>
			
			<% if !user_signed_in? && @lesson.lesson_video? && @lesson.image? %>
				<h1 class="text-center"><%= @lesson.title %></h1>
				<%= image_tag @lesson.image_url, class: "img-responsive" if @lesson.image? %>
				<div class="row">
					<div class="container">
						<div class="well">برای دیدن ویدئو اصلی لطفا ثبت نام کنید و یا به سایت وارد شوید: <%= link_to 'ثبت نام', new_user_registration_path, class: "btn btn-info" %> <%= link_to 'ورود به سایت', new_user_session_path, class: "btn btn-success" %> </div>
					</div>
				</div>
			<% end %>
			
		</div>
		<div class="container">
			<div class="row title">
				<div class="col-md-10 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
					<h4><em>دسته:</em> <%= link_to @lesson.tutorial.title, @lesson.tutorial, class: "to-tutorial",
						data: { toggle: 'tooltip', placement: 'left', title: "برگشت به دسته #{@lesson.tutorial.title}" } %></h4>
					<div class="col-md-8 pull-right">
						<h2><%= @lesson.title %></h2>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12" align="left">
						<% unless user_signed_in? %>
							<%= link_to '', like_lesson_path(@lesson.id), remote: true, id: "like_#{@lesson.id}",
								class: "fa fa-heart-o fa-2x #{liked_lesson @lesson}", data: { toggle: 'tooltip', placement: 'left', title: "برای پسندیدن این آموزش به سایت وارد شوید." } %>
							<span class="like-number"><%#= @lesson.get_upvotes.size %></span>
						<% end %>
						<%  if user_signed_in? && current_user && !current_user.voted_for?(@lesson) %>
							<%= link_to '', like_lesson_path(@lesson.id), remote: true, id: "like_#{@lesson.id}",
							class: "fa fa-heart fa-2x #{liked_lesson @lesson}", data: { toggle: 'tooltip', placement: 'left', title: "می پسندید؟" } %>
							<span class="like-number"><%#= @lesson.get_upvotes.size %></span>
						<% end %>
						<%  if user_signed_in? && current_user && current_user.voted_for?(@lesson) %>
							<%= link_to '', like_lesson_path(@lesson.id), remote: true, id: "like_#{@lesson.id}",
							class: "fa fa-heart fa-2x #{liked_lesson @lesson}", data: { toggle: 'tooltip', placement: 'left', title: "این آموزش را قبلا پسندیده اید." } %>
							<span class="like-number"><%#= @lesson.get_upvotes.size %></span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-xs-12 col-sm-12 pull-right">
					<%= render 'list_lessons', lessons: all_lessons %>
				</div>
				<div class="col-md-10 col-xs-12 col-sm-12">
					<div class="panel-body body-content">
						<p><%= markdown(@lesson.description) %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-xs-12 col-sm-12">
					<div class="panel-footer">
						<%= commontator_thread(@lesson) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>