<section id="form-devise-signin" class="devise-form">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>ورود</h2>
					</div>
					<div class="panel-body">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<%= devise_error_messages! %>

							<div class="form-group">
								<%= f.email_field :email, autofocus: true, placeholder: "ایمیل" , class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.password_field :password, autocomplete: "off", placeholder: "رمز عبور", class: "form-control" %>
							</div>
							<% if devise_mapping.rememberable? -%>
								<div class="form-group">
									<%= f.check_box :remember_me %>
									<%= f.label 'من را به خاطر بسپار' %>
								</div>
							<% end -%>

							<div class="actions form-group">
								<%= f.button "ورود", class: "btn btn-block btn-success", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> ورود" } %>
							</div>
						<% end %>
					</div>
					<div class="panel-footer">
						<% unless resource_name == :admin %>
							<%= render "devise/shared/links" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

