<% title @course.title %>
<section id="course-show">
	<div class="course-show-hero">
		<div class="row">
			<div class="col-md-4">
				<div class="well">
					<h3 class="text-right">عضو شتابیاد شوید <span>و آخرین آموزش های ما را ببینید.</span></h3>
					<div class="img-signup" align="center">
						<%= image_tag 'user.svg', size: '130x130', class: "img-responsive" %>
						<p><%= link_to 'ورود', new_user_session_path %> <%= link_to 'ثبت نام', new_user_registration_path %></p>
						<p></p>
					</div>
				</div>
				
				<div class="well">
					<h3 class="text-right">وبلاگ شتابیاد <span>را در اینجا ببینید.</span></h3>
					<div class="img-signup" align="center">
						<p><%= link_to 'ورود به وبلاگ', blogs_path %> </p>
						<p></p>
					</div>
				</div>
			</div>
			
			<div class="col-md-8 pull-right">
				<div class="panel panel-default">
					<div class="panel-heading">
						<% unless @course.video.nil? %>
							<div id="<%= @course.video.aparat_id %>"><script type="text/JavaScript" src="https://www.aparat.com/embed/<%= @course.video.aparat_embed %>?data[rnddiv]=<%= @course.video.aparat_id %>&data[responsive]=yes"></script></div>
							<h2><%= @course.title %></h2>
						<% else %>
							<%= image_tag @course.image.url, class: "img-responsive" if @course.image? %>
							<h1><%= @course.title %></h1>
						<% end %>
					</div>
					<div class="panel-body">
						<div class="meta">
							<div class="col-md-6 pull-right">
								<span class="date"><%= @course.created_at.to_parsi.strftime "%d %B %Y" %></span>
							</div>
							<div class="col-md-4">
								<div class="addthis_inline_share_toolbox"></div>
							</div>
						</div>
						<%= markdown(@course.body) %>
						<div class="col-md-4">
							<div class="addthis_inline_share_toolbox"></div>
						</div>
					</div>
					<div class="panel-footer" align="left">
						<%= link_to 'خرید دوره', @course.link_address, target: "_blank", class: "btn btn-success btn-block" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= link_to "بازگشت به دوره ها <i class='fa fa-angle-left'></i>".html_safe, :back, class: "back" %>
		</div>
	</div>
</section>

<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593a8f56bb059f35"></script> 