<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/afterglow/latest/afterglow.min.js"></script>
		<script src="js/wow.min.js"></script>
		
		<meta name="description" content="آموزش Ruby on Rails و طراحی وب سایت" />
		<meta name="keywords" content="Ruby on Rails, روبی آن ریلز, برنامه نویسی روبی, طراحی وب سایت, برنامه نویسی Ruby, Rails, ریلز, وب اپلیکیشن" />
		<meta name="robots" content="index, follow" />
		
		<!-- <title> --><%#= content_for?(:title) ? yield(:title) : "شتابیاد: آموزش تخصصی برنامه نویسی روبی آن ریلز و آی او اس" %><!-- </title> -->
		<title>
			<% if content_for?(:title) %>
				<%=  yield(:title) + ' | شتابیاد: آموزش تخصصی برنامه نویسی Ruby on Rails' %>
			<% else %>
				<%= content_for?(:title) ? yield(:title) : "شتابیاد: آموزش تخصصی برنامه نویسی Ruby on Rails" %>
			<% end %>

		</title>
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%#= analytics_init if GoogleAnalytics.valid_tracker? %>
		<meta name="google-site-verification" content="vO2GvaqiYjT3Wip9smnF6HFcVHkwz5yC54yT9yCjIGc" />
  </head>

  <body dir="rtl">
	  <%= render partial: 'shared/navbar' %>				

	  
      <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <div class="container"><%= notice %></div>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <div class="container"><%= alert %></div>
        </div>
      <% end %>
		  <%# if notice %>
<!--		  	<p class="notice"><%#= notice %></p>-->
				<%#= js add_gritter(flash[:notice], title: "پیام شما", time: "4000") %>
		  <%# end %>
		  <%# if alert %>
<!--		  	<p class="alert"><%#= alert %></p>-->
		  	<%#= js add_gritter(flash[:alert], title: "پیام شما", time: "4000") %>
		  <%# end %>
				
				<!-- <% if notice %>
					<script>
						$.gritter.add({

						  title: 'پیام شما',

							text: "<%= flash[:notice] %>",

							//image: 'assets-url/confirm.png',

							time: 5000
						});
					</script>
				<% end %>
				<% if alert %>
					<script>
						$.gritter.add({

						  title: 'پیام شما',

							text: "<%= flash[:alert] %>",

							time: 5000
						});
					</script>
				<% end %> -->
			
	 <%= yield %>
	 
	 <!-- Start of LiveChat (www.livechatinc.com) code -->
	<script type="text/javascript">
	// window.__lc = window.__lc || {};
// 	window.__lc.license = 8898389;
// 	(function() {
// 	  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
// 	  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
// 	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
// 	})();
	</script>
<!-- End of LiveChat code -->
	 
	 <%= render 'shared/footer' %>
  </body>
</html>
