<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/afterglow/latest/afterglow.min.js"></script>
		<script src="js/wow.min.js"></script>
		
		<title><%= content_for?(:title) ? yield(:title) : "شتابیاد: آموزش تخصصی برنامه نویسی" %></title>
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
		
		<%#= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>

  <body dir="rtl">
	  <%= render partial: 'shared/navbar' %>				

	  
      <%# if notice %>
        <!-- div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <div class="container"><%= notice %></div>
        </div> -->
      <%# end %>
      <%# if alert %>
        <!-- <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <div class="container"><%= alert %></div>
        </div> -->
      <%# end %>
		  <%# if notice %>
<!--		  	<p class="notice"><%#= notice %></p>-->
				<%#= js add_gritter(flash[:notice], title: "پیام شما", time: "4000") %>
		  <%# end %>
		  <%# if alert %>
<!--		  	<p class="alert"><%#= alert %></p>-->
		  	<%#= js add_gritter(flash[:alert], title: "پیام شما", time: "4000") %>
		  <%# end %>
				
				<% if notice %>
					<script>
						$.gritter.add({
			
						  title: 'پیام شما',
						
							text: "<%= flash[:notice] %>",
							
							//image: 'assets-url/confirm.png',
							
							time: 5000
						});
					</script>
				<% end %>
				<% if alert %>
					<script>
						$.gritter.add({
			
						  title: 'پیام شما',
						
							text: "<%= flash[:alert] %>",
							
							time: 5000
						});
					</script>
				<% end %>
			
	 <%= yield %>
	 
	 <%= render 'shared/footer' %>
  </body>
</html>
