<!DOCTYPE html>
<html>
  <head>
    <title>ShetabyadApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body dir="rtl">
	  <%= render partial: 'shared/navbar' %>				

	  <div class="container">
		  <% if notice %>
<!--		  	<p class="notice"><%#= notice %></p>-->
				<%= js add_gritter(flash[:notice], title: "پیام شما", time: "3000") %>
		  <% end %>
		  <% if alert %>
<!--		  	<p class="alert"><%#= alert %></p>-->
		  	<%= js add_gritter(flash[:alert], title: "پیام شما", time: "3000") %>
		  <% end %>
		 </div>
	 <%= yield %>
	 
	 <%#= render 'shared/footer' %>
  </body>
</html>
