<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/afterglow/latest/afterglow.min.js"></script>
		<script src="js/wow.min.js"></script>
		
		<title>
			<%= if content_for?(:title) then yield(:title) + ' | 			شتابیاد: آموزش تخصصی برنامه نویسی روبی آن ریلز و آی او اس' end %>

		</title>
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>

  <body dir="rtl">
	  <%= render partial: 'shared/nav_blog' %>				

			
	 <%= yield %>
	 
	 <%= render 'shared/footer' %>
  </body>
</html>
