<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<meta name="description" content="<%= yield(:description) %>" />
		<meta name="keywords" content="<%= yield(:keywords) %>" />
		<meta name="robots" content="<%= yield(:robots) %>" />
		
		<title>
			<% if content_for?(:title) %>
				<%=  yield(:title) + ' | شتابیاد: آموزش آنلاین، تخصصی و رایگان' %>
			<% else %>
				<%= content_for?(:title) ? yield(:title) : "شتابیاد: آموزش آنلاین، تخصصی و رایگان" %>
			<% end %>
		</title>
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%#= analytics_init if GoogleAnalytics.valid_tracker? %>
		<meta name="google-site-verification" content="vO2GvaqiYjT3Wip9smnF6HFcVHkwz5yC54yT9yCjIGc" />
		
		<style>
			body {
				/*padding-bottom: 0;*/
		    /*background-color: #2F80ED;*/
			}
		</style>
		
  </head>

  <body dir="rtl">
      <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <div class="container"><%= notice %></div>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <div class="container"><%= alert %></div>
        </div>
      <% end %>

	 <%= yield %>
  </body>
</html>
